// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
    match app-id="waybar"
    // This prevents Niri from trying to "animate" the bar window itself.
    geometry-corner-radius 0
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}

// Block out two password managers from screen capture.
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    match app-id="^org\\.gnome\\.World\\.Secrets$"
    block-out-from "screen-capture"
    // // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match app-id="google-chrome"
    default-column-width {
        proportion 1.0
    }
}

window-rule {
    match app-id="imv"
    open-floating true
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
