// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed.
on_force_close "quit"

// Disable tips on Zellij startup.
show_startup_tips false

// The number of lines zellij stores for each pane in the scroll back buffer.
scroll_buffer_size 1500

// How often in seconds sessions are serialized to disk.
serialization_interval 1

ui {
    pane_frames {
        rounded_corners false
    }
}

theme "custom"

themes {
    custom {
        fg "#bdbdbd" // selection foreground
        bg "#3f3f3f" // selection background
        black "#161616"
        red "#161616"
        green "#879c54"
        yellow "#e6be6f"
        blue "#81a2be"
        magenta "#b18fbb"
        cyan "#79af98"
        white "#bdbdbd"
        orange "#de935f"
    }
}
